.carousel-container {
  margin-top: 40px;
  height: var(--carousel-height);
  width: min(var(--carousel-width), 100vw - 2 * var(--padding-general-sides));

  margin-inline: auto;
  /* overflow: hidden; */

  position: relative;
}

.img-container {
  position: relative;
  height: var(--carousel-height);
  width: min(var(--carousel-width), 100vw - 2 * var(--padding-general-sides));

  /* touch-action: pan-y; */
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-title {
  position: absolute;
  z-index: 1;
  font-size: var(--fs-carousel-img);
  font-weight: bold;
  font-style: italic;
  left: 50%;
  transform: translateX(-50%);
  color: black;
}
.bottom-title {
  bottom: 2%;
}

.top-title {
  top: 2%;
}

/*
.carousel-button {
  
  border: none;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  background-color: hsla(0, 0%, 100%, 0.369);
  color: hsl(0, 0%, 20%);
}
*/

/* This styling works? */
.carousel-btn:hover {
  cursor: pointer;
}

.radios {
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  gap: 10px;
}

.hidden {
  display: none;
}
/* 
input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.5em;
  height: 0.5em;
  border: 0.1em solid currentColor;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em black;
}

input[type="radio"]:checked::before {
  transform: scale(1);
} */
