header {
  background-color: var(--clr-body-dark);
  font-weight: 700;
  position: sticky;
  top: 0;
  transition: all 200ms ease;
  z-index: 20;
}

.nav-container {
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid white;
  padding-top: 1rem;
}
.logo {
  font-size: 1.75rem;
}

.nav__list {
  display: flex;
  gap: 1rem;
  padding-bottom: 0.35rem;
}

.fa-sun:hover {
  cursor: pointer;
}
.fa-moon:hover {
  cursor: pointer;
}
