nav.main {
  background-color: white;
  position: fixed;
  z-index: 5;
  top: 0;
  height: var(--nav-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.4px solid #2d343c;
  border-bottom: 0.4px solid #2d343c;
  overflow: scroll;
  ul {
    width: 100vw;
    padding: 0 var(--padding-general-sides);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .rechts {
      min-width: 20%;
      display: flex;
      justify-content: space-between;
      height: 100%;
    }
    li {
      width: max-content;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1ch;
      a {
        font-weight: 700;
        min-width: max-content;
      }
      &:hover {
        background-color: #2d343c;
        color: white;
      }
    }
    & > li {
      display: flex;
      align-items: center;
    }
  }
}
