:root {
  --clr-product-card-background: hsl(212, 14%, 31%);
  --padding-filter: 1rem;
}

/* ------ FILTER ------ */

.products__filter {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding-top: var(--padding-filter);
  padding-bottom: var(--padding-filter);
  background-color: var(--clr-body-dark);
  position: sticky;
  top: 58px;
  z-index: 21;
}
.filter__list {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
}
.filter__item {
  position: relative;
}

.filter__item:hover {
  cursor: pointer;
}

.active-filter::after {
  content: "";
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: -17px;
  border: 10px solid;
  border-color: rgb(255, 255, 255) #0000 #0000 #0000;
}

@media (max-width: 470px) {
  .filter__list {
    justify-content: space-between;
    gap: 0rem;
  }
}

/* ------ GRID ------ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 5rem;
}

/* ------ PRODUCT CARD ------ */

.product-card:hover {
  cursor: pointer;
}

.product-card {
  border-radius: 0.75rem;
  overflow: hidden;
  background-color: var(--clr-product-card-background);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.product-card__img {
  width: 100%;
}
