.welcome-container {
  /* border: 2px solid red; */
  height: calc(100vh - 60px);
  /* How to make height header as variable? */
}

.welcome__img {
  height: 700px;
  z-index: -1;
  position: absolute;
  right: -210px;
  top: -70px;
}
