.welcome-container {
  

  /* How to make height header as variable? */
  
  /* border: 1px solid white; */
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
  // overflow: hidden;
  margin-top: var(--margin-vert-between-sections);
  position: relative;
  display: flex;
  align-items: center;
}

.welcome__image-container {
  // border: 2px solid red;
  height: 500px;
  width: 50%;
  background-image: url(../images/welcome/keykapsWelcome.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  text-align: center;
  font-size: 3rem;
}
.welcome__image {
  width: 400px;
}