.filter-wrap{
    select {

        /* styling */
        background-color: white;
        border: .5px solid grey;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 5px 35px 5px 10px;

        margin-bottom: 5px;     
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
      }
    .wrap2 .select_input{
        display: flex;
        flex-direction: column;
        column-gap: 5px;
    }
}