.welcome__image {
  height: 400px;
}

.logo-art{
  height: 30px;
}

.logo-container{
  display: flex;
  gap: 10PX;
  align-items: center;
}

.welcome-container{
  display: flex;
  align-items: center;
}