.welcome-container {
  

  /* How to make height header as variable? */
  
  /* border: 1px solid white; */
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
  // overflow: hidden;
  margin-top: var(--margin-vert-between-sections);
  position: relative;
  display: flex;
  align-items: center;
}
