<<<<<<< HEAD
* {
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*, :before, :after {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, :before, :after {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

a:visited, a:link, a:active {
  color: currentColor;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

article, aside, details, figcaption, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav.main {
  z-index: 5;
  height: var(--nav-bar-height);
  background-color: #fff;
  border-top: .4px solid #2d343c;
  border-bottom: .4px solid #2d343c;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
}

nav.main ul {
  width: 100vw;
  padding: 0 var(--padding-general-sides);
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

nav.main ul .rechts {
  width: 20%;
  height: 100%;
  justify-content: space-between;
  display: flex;
}

nav.main ul li {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  align-items: center;
  padding: 0 1ch;
  display: flex;
}

nav.main ul li a {
  font-weight: 700;
}

nav.main ul li:hover {
  color: #fff;
  background-color: #2d343c;
}

nav.main ul > li {
  align-items: center;
  display: flex;
}

:root {
  --clr-body-dark: #3b444e;
  --clr-body-light: #f5f7ff;
  --clr-body-darker: #e6e7ef;
  --ff: "Roboto", sans-serif;
  --padding-general-sides: 2rem;
  --margin-vert-between-sections: 3rem;
  --max-width-general: 1200px;
  --height-header-desktop: 140px;
  --nav-bar-height: 50px;
}

body {
  font-family: var(--ff);
  background-color: var(--clr-body-light);
  color: var(--clr-body-dark);
}

body h1, body h2 {
  font-weight: 600;
}

.filter-wrap select {
  box-sizing: border-box;
  appearance: none;
  background-color: #fff;
  border: .5px solid gray;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 5px 35px 5px 10px;
  line-height: 1.5em;
  display: inline-block;
}

.filter-wrap .wrap2 .select_input {
  flex-direction: column;
  column-gap: 5px;
  display: flex;
}

.select_input select button.add {
  z-index: 10;
  position: relative;
  top: 0;
  left: 0;
  transform: scale(.01);
}

form .form_input {
  border-bottom: 2px solid #adadad;
  margin-bottom: 20px;
  position: relative;
}

form .form_input input {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 0 5px;
  font-size: 16px;
}

form .form_input label {
  color: #adadad;
  pointer-events: none;
  font-size: 16px;
  transition: all .5s;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

.form-container {
  padding: 2em var(--padding-general-sides) 1em var(--padding-general-sides);
  width: 60vw;
  min-width: 500px;
  background: #fff;
  border-radius: 10px;
  margin-top: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 15px #0000000d;
}

.form-container .wrapper {
  justify-content: space-between;
  row-gap: var(--padding-general-sides);
  border-bottom: 1px solid #d3d3d3;
  flex-direction: row;
  padding: 1em 0;
  display: flex;
}

.form-container .wrapper .wrap2 {
  width: 70%;
  flex-flow: wrap;
  display: flex;
}

.title-wrap.wrapper {
  --toggle-size: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.title-wrap.wrapper h1 {
  font-size: x-large;
  font-weight: 700;
}

.title-wrap.wrapper .toggles {
  width: 100%;
  justify-content: flex-end;
  gap: 20px;
  display: flex;
}

.title-wrap.wrapper .toggles .toggle {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.title-wrap.wrapper .toggles .toggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.title-wrap.wrapper .toggles .toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: calc(var(--toggle-size) * 2);
  height: var(--toggle-size);
  border-radius: var(--toggle-size);
  background: gray;
  display: block;
  position: relative;
}

.title-wrap.wrapper .toggles .toggle label:after {
  content: "";
  top: calc(var(--toggle-size) / 20);
  left: calc(var(--toggle-size) / 20);
  width: calc(var(--toggle-size) / 10 * 9);
  height: calc(var(--toggle-size) / 10 * 9);
  border-radius: calc(var(--toggle-size) / 10 * 9);
  background: #fff;
  transition: all .3s;
  position: absolute;
}

.title-wrap.wrapper .toggles .toggle input:checked + label {
  background: #bada55;
}

.title-wrap.wrapper .toggles .toggle input:checked + label:after {
  left: calc(100% - var(--toggle-size) / 20);
  transform: translateX(-100%);
}

.title-wrap.wrapper .toggles .toggle label:active:after {
  width: calc(var(--toggle-size) / 10 * 13);
}

.product-wrap {
  align-items: flex-start;
}

.product-wrap textarea {
  box-shadow: none;
  color: inherit;
  font: inherit;
  resize: none;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.product-wrap .form_input-prodname, .product-wrap .form_input-price {
  margin-top: 15px;
}

.product-wrap .form_input-prodname span:before, .product-wrap .form_input-price span:before {
  content: "";
  width: 0%;
  height: 2px;
  background: #2d343c;
  transition: all .5s;
  position: absolute;
  top: 40px;
  left: 0;
}

.product-wrap .form_input-prodname input:focus ~ label, .product-wrap .form_input-prodname input:valid ~ label, .product-wrap .form_input-price input:focus ~ label, .product-wrap .form_input-price input:valid ~ label {
  color: #2d343c;
  top: -5px;
}

.product-wrap .form_input-prodname input:focus ~ span:before, .product-wrap .form_input-prodname input:valid ~ span:before, .product-wrap .form_input-price input:focus ~ span:before, .product-wrap .form_input-price input:valid ~ span:before {
  width: 100%;
}

.product-wrap .form_input-prodname {
  flex-grow: 3;
  flex-basis: 70%;
}

.product-wrap .form_input-price {
  flex-grow: 1;
  flex-basis: 30%;
}

.product-wrap .form_input-description {
  width: 100%;
}

.form_input-description textarea {
  width: 100%;
  border: none;
  padding: .5em .3em;
}

.form_input-description textarea:focus, .form_input-description textarea:valid, .form_input-description textarea:active, .form_input-description textarea::selection {
  border: none;
}

.form_input-description textarea::placeholder {
  color: #adadad;
  font-size: 17px;
  left: -5px;
}

.filter-wrap .select_input, .filter-wrap label {
  width: 30%;
}

.filter-wrap .ratings {
  min-width: 91px;
}

.filter-wrap .ratings input {
  display: none;
}

.filter-wrap .ratings figure {
  -webkit-user-select: none;
  user-select: none;
}

.filter-wrap .ratings figure i {
  color: #adadad;
}

.filter-wrap .ratings figure i:hover, .filter-wrap .ratings figure i.yellow {
  color: #fdcc0d;
}

.filter-wrap button.add {
  text-align: center;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.filter-wrap button.add:hover span {
  opacity: 1;
  border-color: #2d343c;
  transition: all .5s;
}

.filter-wrap button.add span {
  opacity: 1;
  width: 30px;
  text-align: center;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 6;
}

.filter-wrap .colors {
  flex-wrap: wrap;
  gap: 5px 10px;
  display: flex;
}

.filter-wrap .colors button:has(label) {
  cursor: default;
  background: #ddd;
  border: none;
  border-radius: 1em;
  outline: none;
  margin: .25em;
  padding: .4em .9em;
  font-size: .75rem;
}

.filter-wrap .colors button:has(label) label {
  cursor: pointer;
}

.filter-wrap .colors button:has(label:hover) {
  background: #c5c5c5;
  transition: transform 50ms;
  transform: scale(1.02);
}

.filter-wrap .colors button:has(label.clicked) {
  background: #b5b5b5;
  transition: transform 50ms;
  transform: scale(1.02);
}

.filter-wrap .wrap2 {
  column-gap: 10px;
  display: flex;
}

.img-wrap.wrapper {
  border: none;
  padding-bottom: 0;
}

.img-wrap.wrapper .wrap2 {
  flex-flow: column;
  row-gap: 5px;
  display: flex;
}

.img-wrap.wrapper .wrap2 button {
  width: 80px;
  height: 30px;
  color: #e9f4fb;
  cursor: pointer;
  background: #2d343c;
  border: 1px solid;
  border-radius: 25px;
  outline: none;
  margin: 5px auto auto 0;
  font-size: 12px;
  font-weight: 700;
}

.img-wrap.wrapper .wrap2 button:hover {
  border-color: #2d343c;
  transition: all .5s;
}

.submit-btn {
  height: 8em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.submit-btn input[type="submit"] {
  width: 200px;
  height: 50px;
  color: #e9f4fb;
  cursor: pointer;
  background: #2d343c;
  border: 1px solid;
  border-radius: 25px;
  outline: none;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
}

.submit-btn input[type="submit"]:hover {
  border-color: #2d343c;
  transition: all .5s;
}

.filter-wrap input[type="checkbox"] {
  display: none;
}

.submit-pop-up {
  width: 400px;
  text-align: center;
  color: #333;
  background: #fff;
  border-radius: 6px;
  padding: 0 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 7px 29px #64646f33;
}

.submit-pop-up img {
  width: 100px;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 0 2px 5px #0003;
}

.submit-pop-up h2 {
  margin: 30px 0 10px;
  font-size: 38px;
  font-weight: 500;
}

.submit-pop-up button {
  width: 70%;
  color: #fff;
  cursor: pointer;
  background: #2d343c;
  border: 0;
  border-radius: 4px;
  outline: none;
  margin-top: 2rem;
  padding: 10px 0;
  font-size: 18px;
  box-shadow: 0 5px 5px #0003;
}

.hidden {
  display: none;
}

=======
*{font:inherit;vertical-align:baseline;margin:0;padding:0;font-size:100%}*,:before,:after{box-sizing:border-box}ol,ul{list-style:none}html,body{height:100%;scroll-behavior:smooth}body{text-rendering:optimizespeed;-webkit-font-smoothing:antialiased;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,:before,:after{scroll-behavior:auto!important;transition-duration:.01ms!important;animation-duration:.01ms!important;animation-iteration-count:1!important}}a:visited,a:link,a:active{color:currentColor;text-decoration:none}p,h1,h2,h3,h4,h5,h6{overflow-wrap:break-word}article,aside,details,figcaption,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}table{border-collapse:collapse;border-spacing:0}nav.main{z-index:5;height:var(--nav-bar-height);background-color:#fff;border-top:.4px solid #2d343c;border-bottom:.4px solid #2d343c;justify-content:center;align-items:center;display:flex;position:fixed}nav.main ul{width:100vw;padding:0 var(--padding-general-sides);height:100%;justify-content:space-between;align-items:center;display:flex}nav.main ul .rechts{width:20%;height:100%;justify-content:space-between;display:flex}nav.main ul li{width:-moz-fit-content;width:-moz-fit-content;width:fit-content;height:100%;align-items:center;padding:0 1ch;display:flex}nav.main ul li a{font-weight:700}nav.main ul li:hover{color:#fff;background-color:#2d343c}nav.main ul>li{align-items:center;display:flex}:root{--clr-body-dark:#3b444e;--clr-body-light:#f5f7ff;--clr-body-darker:#e6e7ef;--ff:"Roboto",sans-serif;--padding-general-sides:2rem;--margin-vert-between-sections:3rem;--max-width-general:1200px;--height-header-desktop:140px;--nav-bar-height:50px}body{font-family:var(--ff);background-color:var(--clr-body-light);color:var(--clr-body-dark);height:115vh}body h1,body h2{font-weight:600}.filter-wrap select{box-sizing:border-box;appearance:none;background-color:#fff;border:.5px solid gray;border-radius:4px;margin-bottom:5px;padding:5px 35px 5px 10px;line-height:1.5em;display:inline-block}.filter-wrap .wrap2 .select_input{flex-direction:column;column-gap:5px;display:flex}.select_input select button.add{z-index:10;position:relative;top:0;left:0;transform:scale(.01)}form .form_input{border-bottom:2px solid #adadad;margin-bottom:20px;position:relative}form .form_input input{width:100%;height:40px;background:0 0;border:none;outline:none;flex-grow:1;padding:0 5px;font-size:16px}form .form_input label{color:#adadad;pointer-events:none;font-size:16px;transition:all .5s;position:absolute;top:50%;left:5px;transform:translateY(-50%)}.form-container{padding:2em var(--padding-general-sides)1em var(--padding-general-sides);width:60vw;min-width:500px;background:#fff;border-radius:10px;margin-top:75px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);box-shadow:10px 10px 15px #0000000d}.form-container .wrapper{justify-content:space-between;row-gap:var(--padding-general-sides);border-bottom:1px solid #d3d3d3;flex-direction:row;padding:1em 0;display:flex}.form-container .wrapper .wrap2{width:70%;flex-flow:wrap;display:flex}.title-wrap.wrapper{--toggle-size:20px;flex-direction:column;justify-content:space-between;align-items:center;display:flex}.title-wrap.wrapper h1{font-size:x-large;font-weight:700}.title-wrap.wrapper .toggles{width:100%;justify-content:flex-end;gap:20px;display:flex}.title-wrap.wrapper .toggles .toggle{flex-direction:column;justify-content:center;align-items:center;display:flex}.title-wrap.wrapper .toggles .toggle input[type=checkbox]{height:0;width:0;visibility:hidden}.title-wrap.wrapper .toggles .toggle label{cursor:pointer;text-indent:-9999px;width:calc(var(--toggle-size)*2);height:var(--toggle-size);border-radius:var(--toggle-size);background:gray;display:block;position:relative}.title-wrap.wrapper .toggles .toggle label:after{content:"";top:calc(var(--toggle-size)/20);left:calc(var(--toggle-size)/20);width:calc(var(--toggle-size)/10*9);height:calc(var(--toggle-size)/10*9);border-radius:calc(var(--toggle-size)/10*9);background:#fff;transition:all .3s;position:absolute}.title-wrap.wrapper .toggles .toggle input:checked+label{background:#bada55}.title-wrap.wrapper .toggles .toggle input:checked+label:after{left:calc(100% - var(--toggle-size)/20);transform:translate(-100%)}.title-wrap.wrapper .toggles .toggle label:active:after{width:calc(var(--toggle-size)/10*13)}.product-wrap{align-items:flex-start}.product-wrap textarea{box-shadow:none;color:inherit;font:inherit;resize:none;width:100%;background:0 0;border:none;outline:none;padding:0}.product-wrap .form_input-prodname,.product-wrap .form_input-price{margin-top:15px}.product-wrap .form_input-prodname span:before,.product-wrap .form_input-price span:before{content:"";width:0%;height:2px;background:#2d343c;transition:all .5s;position:absolute;top:40px;left:0}.product-wrap .form_input-prodname input:focus~label,.product-wrap .form_input-prodname input:valid~label,.product-wrap .form_input-price input:focus~label,.product-wrap .form_input-price input:valid~label{color:#2d343c;top:-5px}.product-wrap .form_input-prodname input:focus~span:before,.product-wrap .form_input-prodname input:valid~span:before,.product-wrap .form_input-price input:focus~span:before,.product-wrap .form_input-price input:valid~span:before{width:100%}.product-wrap .form_input-prodname{flex-grow:3;flex-basis:70%}.product-wrap .form_input-price{flex-grow:1;flex-basis:30%}.product-wrap .form_input-description{width:100%}.form_input-description textarea{width:100%;border:none;padding:.5em .3em}.form_input-description textarea:focus,.form_input-description textarea:valid,.form_input-description textarea:active,.form_input-description textarea::selection{border:none}.form_input-description textarea::placeholder{color:#adadad;font-size:17px;left:-5px}.filter-wrap .select_input,.filter-wrap label{width:30%}.filter-wrap .ratings{min-width:91px}.filter-wrap .ratings input{display:none}.filter-wrap .ratings figure{-webkit-user-select:none;user-select:none}.filter-wrap .ratings figure i{color:#adadad}.filter-wrap .ratings figure i:hover,.filter-wrap .ratings figure i.yellow{color:#fdcc0d}.filter-wrap button.add{text-align:center;width:0;height:0;cursor:pointer;border-radius:25px;outline:none;justify-content:center;align-items:center;display:flex}.filter-wrap button.add:hover span{opacity:1;border-color:#2d343c;transition:all .5s}.filter-wrap button.add span{opacity:1;width:30px;text-align:center;font-variation-settings:"FILL" 1,"wght" 400,"GRAD" 0,"opsz" 6}.filter-wrap .colors{flex-wrap:wrap;gap:5px 10px;display:flex}.filter-wrap .colors button:has(label){cursor:default;background:#ddd;border:none;border-radius:1em;outline:none;margin:.25em;padding:.4em .9em;font-size:.75rem}.filter-wrap .colors button:has(label) label{cursor:pointer}.filter-wrap .colors button:has(label:hover){background:#c5c5c5;transition:transform 50ms;transform:scale(1.02)}.filter-wrap .colors button:has(label.clicked){background:#b5b5b5;transition:transform 50ms;transform:scale(1.02)}.filter-wrap .colors #newCol{font-weight:700}.filter-wrap .wrap2{column-gap:10px;display:flex}.img-wrap.wrapper{border:none;padding-bottom:0}.img-wrap.wrapper .wrap2{flex-flow:column;row-gap:5px;display:flex}.img-wrap.wrapper .wrap2 button{width:80px;height:30px;color:#e9f4fb;cursor:pointer;background:#2d343c;border:1px solid;border-radius:25px;outline:none;margin:5px auto auto 0;font-size:12px;font-weight:700}.img-wrap.wrapper .wrap2 button:hover{border-color:#2d343c;transition:all .5s}.submit-btn{height:8em;flex-direction:column;justify-content:flex-end;align-items:center;display:flex}.submit-btn input[type=submit]{width:200px;height:50px;color:#e9f4fb;cursor:pointer;background:#2d343c;border:1px solid;border-radius:25px;outline:none;margin:auto;font-size:18px;font-weight:700}.submit-btn input[type=submit]:hover{border-color:#2d343c;transition:all .5s}.filter-wrap input[type=checkbox],.hidden{display:none}
>>>>>>> main
/*# sourceMappingURL=addProducts.css.map */
