@import url(./reset_tc_collection.css);
@import url(./../css/nav.css);
@import url(./../css/welcome.css);
/* @import url(products.css); */
@import url(./../css/products_grid_filter.css);
@import url(./../css/filter.css);

:root {
  --clr-body-dark: hsl(212, 14%, 27%);
  --clr-body-light: hsl(0, 0%, 100%);

  --carousel-width: 800px;
  --carousel-height: 300px;
  --fs-carousel-img: 3.5rem;

  --ff: "Roboto", sans-serif;

  --padding-general-sides: 2rem;
  --margin-vert-between-sections: 3rem;
  --max-width-general: 1200px;
  --height-header-desktop: 140px;
}

/* ------ GENERAL STYLING AND BODY ------ */

body {
  font-family: var(--ff);
  background-color: var(--clr-body-light);
  color: var(--clr-body-dark);
  /* overflow: hidden; */
  /* transition: all 200ms ease; */
  /* overflow: hidden; */
}

/* ------ UTILITIES ------ */

/* ------ MAIN CONTAINER ------ */

.main-container {
  display: flex;
  flex-direction: column;
}

/* <- welcome -> */
.welcome-container {
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}
/* <- products -> */

.products__filter {
  margin-top: var(--margin-vert-between-sections);
  margin-bottom: var(--margin-vert-between-sections);
}

.grid-container {
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
  margin-top: var(--margin-vert-between-sections);
  margin-bottom: var(--margin-vert-between-sections);
  margin-top: 7rem;
}
.filter__list {
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
}

/* Temporary filter section - to be moved to filter file */

.hidden {
  display: none;
}
