@import "./reset_tc_collection.css";
@import "../css/nav.css";
@import "../css/welcome.css";
@import "../css/filter.css";
@import "../CSS/product-card.css";

:root {
  --clr-body-dark: hsl(212, 14%, 27%);
  --clr-body-light: hsl(0, 0%, 100%);

  --carousel-width: 800px;
  --carousel-height: 300px;
  --fs-carousel-img: 3.5rem;

  --ff: "Roboto", sans-serif;

  --padding-general-sides: 2rem;
  --margin-vert-between-sections: 3rem;
  --max-width-general: 1200px;
  --height-header-desktop: 140px;
}

/* ------ GENERAL STYLING AND BODY ------ */

body {
  font-family: var(--ff);
  background-color: var(--clr-body-light);
  color: var(--clr-body-dark);
  /* overflow: hidden; */
  /* transition: all 200ms ease; */
  /* overflow: hidden; */
}

/* ------ UTILITIES ------ */

/* ------ MAIN CONTAINER ------ */

.main-container {
  display: flex;
  flex-direction: column;
}

/* <- welcome -> */
.welcome-container {
  height: calc(100vh - 60px);
  margin-top: 0;
  margin-bottom: 0;
}
/* <- products -> */

.products__filter {
  margin-top: var(--margin-vert-between-sections);
  margin-bottom: var(--margin-vert-between-sections);
}

.filter__list {
  width: min(
    var(--max-width-general),
    100vw - 2 * var(--padding-general-sides)
  );
  margin-inline: auto;
}

.hidden {
  display: none;
}
/* Temporary welcome*/

/* gap between filter name and count */
.subfilter__row {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.subfilter__row-container {
  padding-right: 10px;
}

/* Minimum space for active bns to appear */
.subfilter-active {
  min-height: 30px;
}
.subfilter__selection {
  --animate-duration: 0.2s;
}

.products__filter {
  margin-bottom: 1.3rem;
}

.subfilter-btn .fa-solid {
  font-size: smaller;
  color: hsl(0, 0%, 35%);
  pointer-events: none;
}

.subfilter-btn {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 55%);
  border-radius: 0.4rem;
  min-width: max-content;
}

.card-front {
  border-radius: 0.5rem !important;
}

.active-filter-btn {
  padding: 0.25rem 0.75rem !important;
  background-color: hsl(0, 0%, 85%);
  border-radius: 0.25rem;
}

.active-filter-btn :nth-child(2) {
  color: hsl(0, 0%, 25%);
}

.sort__row-container {
  overflow-y: hidden;
}

.subfilter__row-container {
  padding-top: 4px;
  padding-bottom: 4px;
}

.sort__selection {
  right: 0;
}

.grid-container {
  min-height: 350px;
}

.disabled {
  color: lightgray;
}

.general-subfilter-btn {
  color: var(--clr-body-dark);
}

.swiper {
  max-height: 50%;
  border-radius: 0.25rem;
  /* border: 1px solid red; */
}

.swiper-wrapper {
}

.swiper-slide {
  /* border: 1px solid blue; */
}

.swiper-slide > img {
  width: 100% !important;
  height: auto !important;
  object-fit: cover !important;
  object-position: center !important;
}
